<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.xxg.blog.pojo.Users">
            <id property="userId" column="user_Id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="moblePhone" column="moble_phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_Id,user_name,user_nickname,
        pwd,email,avatar,
        create_time,birthday,age,
        moble_phone
    </sql>
</mapper>
